html, body{
    width: 700px;
    margin: 0px auto;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.section-text{
    height: auto;
    margin: 0px auto;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 35px;
    color:#292d32;
}

h2{
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-size: 15px;
    color: #000000;
}

p{
    color: #fd0000;
    font-size: 15px;
}

h3{
    color: #505050;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3.5px;
    font-size: 12px;
}

#paragraph{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 18px;
    color: #707070;
}

img{
    width: 155px;
    height: 155px;;
}

#h1-black{
    color: rgb(224, 224, 224);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.dj{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.krug{
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.box-black{
    background-color: #292d32;
    padding: 25px;
}


.box-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box-2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box-3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text-box{
    padding: 25px;
}

.button{
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid #e2e2e2;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}